html {
  height: 100%;
  background: #000000;
  font-family: 'Space Mono', monospace;
  color: #fff;
  cursor: crosshair;
}

* {
  box-sizing: border-box;
}

.control {
  margin: 50px auto;
  width: 400px;
}

.todo {
  position: fixed;
  left: 25%;
  bottom: 10%;
  text-align: center;
}

.control {
  transition: all 0.8s ease;
}

.fa-plus-circle {
  margin-left: 10px;
}

.fa-minus-circle {
  margin-right: 10px;
}

.control.timer-going {
  opacity: 0;
  transform: translateY(-30px);
}
.control.timer-stopped {
  opacity: 1;
  transform: translateY(0);
}

.control-title {
  display: block;
  margin: 0 0 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.control-session,
.control-break {
  padding: 5px 10px;
  width: 140px;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.control-session {
  float: left;
}

.control-break {
  float: right;
}

.pomodoro {
  position: relative;
  text-align: center;
}

.title {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 10px;
  color: #fff;
  font-size: 0.6em;
  letter-spacing: 0.25em;
}

.status {
  position: absolute;
  top: 80px;
  width: 100%;
  color: #fff;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.timer {
  font-size: 25vw;
  font-weight: bold;
  line-height: 100vh;
  height: 100%;
  z-index: -20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

.button-controls {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  margin: 15px 5px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: #fff;
  line-height: 36px;
  cursor: pointer;
  color: #000;
  opacity: 0.3;
  transition: opacity 0.7s ease;
}

.button:hover {
opacity: 1;
}

.button:focus {
  outline: none;
}

.break {
  color: #C7F070;;
}

.todo {
width: 50%;
margin: 0 auto;
}

.todo h3 {
  outline: none;
  font-size: 40px;
  font-weight: normal;;
}

.todo h3:hover {
  border-bottom: 1px solid  rgb(108, 108, 108);
}

